---
permalink: /
title:
excerpt: "About me"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

{% include base_path %}

<link rel="stylesheet" type="text/css" href="../assets/css/cv.css"/>
<script src="../assets/js/cv.js"></script>

{% assign resume_sorted = site.resume | sort: 'timestamp' %}
{% for item in resume_sorted %}
  {% if item.type == "experience" %}
    {% assign tic = item.timestamp %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign resume_sorted = site.resume | sort: 'timestamp' | reverse %}
{% assign today = site.time | date: '%s' %}
{% assign reference = "01-01-" | append: tic | append: " 00:00:00" %}
{% assign reference_date =  reference | date: '%s' %}
{% assign seconds_since = today | minus: reference_date %}
{% assign hours_since = seconds_since | divided_by: 60 | divided_by: 60 %}
{% assign days_since = hours_since | divided_by: 24 %}
{% assign years_since = days_since | divided_by: 364 %}

<!-- Resume Subpage -->
<section class="pt-page pt-page-3" data-id="resume">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper">
        <h2 class="section-title">Resume</h2>
        <h5 class="section-description">{{years_since}} Years of Experience</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Education</h3>
        </div>
        <div class="timeline">

          {% for item in resume_sorted %}
            {% if item.type == "education" %}
              <div class="timeline-event te-primary">
                <h5 class="event-date">{{item.tag}}</h5>
                <h4 class="event-name">{{item.name}}</h4>
                <span class="event-description">{{item.school}}</span>
                <p>{{item.description}}</p>
              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>

      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Experience</h3>
        </div>
        <div class="timeline">

          {% for item in resume_sorted %}
            {% if item.type == "experience" %}
              <div class="timeline-event te-primary">
                <h5 class="event-date">{{item.tag}}</h5>
                <h4 class="event-name">{{item.name}}</h4>
                <span class="event-description">{{item.company}}</span>
                <p>{{item.description}}</p>
              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>

      <div class="col-sm-6 col-md-4 subpage-block">

        {% for item in resume_sorted %}
          {% if item.type == "skills" %}
            <div class="block-title">
              <h3>{{item.name | capitalize}} Skills</h3>
            </div>
            {% assign categories = item.category | split: '|' %}
            {% for cat in categories %}
              {% assign cat_items = cat | split: ',' %}
              <div class="skills-info">
                <h4>{{cat_items[0]}}</h4>                               
                <div class="skill-container">
                  <div class="skill-percentage skill-{{cat_items[1]}}"></div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}

      </div>
    </div>
</section>
<!-- End Resume Subpage -->


