<div class="col-xs-12 col-sm-12 col-lg-6">
    <div class="card">
        <div class="img-card">
            <img src="{{post.image}}" />
        </div>
        <div class="card-content">
            <h4 class="card-title">
              {{post.title}}
            </h4>
            <p class="">
                {{post.excerpt}}
            </p>
        </div>
        <div class="card-read-more">
            <a href="{{post.url}}"><i class="fa fa-fw fa-expand" aria-hidden="true"></i></a>
            {% if post.reference %}
                <a href="{{post.reference}}"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.code %}
                <a href="{{post.code}}"><i class="fa fa-fw fa-code-fork" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
</div>






